aiohttp==3.9.5
asyncpraw==7.7.1
discord.py==2.4.0
easy_pil==0.3.3
Flask==3.0.3
google_api_python_client==2.137.0
motor==3.5.1
protobuf==5.27.3
pymongo==4.8.0
python-dotenv==1.0.1
Requests==2.32.3
wavelink==3.4.1
yt_dlp==2024.8.6
